# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# environment
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local files
.DS_Store
*.pem

# generated
*.tsbuildinfo
.vercel/